PORT=5001

DB_HOST=localhost
DB_PORT=5433
DB_NAME=smartdrive_dev
DB_USER=postgres
DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRES_IN=12h

SWAGGER_SUPER_ADMIN_EMAIL=admin@smartdrive.vn
SWAGGER_SUPER_ADMIN_PASSWORD=
SWAGGER_DANANG_MANAGER_PASSWORD=
SWAGGER_TRUNGTAM_MANAGER_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_16_char_app_password
MAIL_FROM=SmartDrive <your_email@gmail.com>