PORT=3000

DATABASE_URL=

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=

DEFAULT_PASSWORD=
CLEANUP_KEEP_ROLES=
FRONTEND_URL="

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=